/* .container+div:nth-child(even) {
    float: left;
}
.container+div:nth-child(odd){
    float: right;
} */
.gereja:nth-child(odd) {
    float: left;
}

.gereja:nth-child(even) {
    float: right;
}

.gereja {
    width: 48%;
    margin: 10px;
}