.container-page {
	margin-left: 10px;
	margin-bottom: 20px;
}

.gereja-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.button-card .card {
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	margin-left: 0;
	height: 170px;
	display: flex;
	align-items: start;
}

.button-card {
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-align: left;
	padding: 0;
	margin-right: 10px;
	width: 32%;
	margin-top: 10px;
}

.gereja p {
	text-align: justify;
	text-decoration: none;
}

#link {
	text-decoration: none;
	color: black;
}

/* Animasi Loading */
#loading {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	display: inline-block;
	vertical-align: middle;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Media Query */

@media (max-width: 1400px) {
	.button-card .card {
		height: 170px;
	}
}

@media (max-width: 1200px) {
	.button-card .card {
		height: 195px;
	}
}

@media (max-width: 1000px) {
	.button-card .card {
		height: 180px;
	}

	.button-card {
		width: 48%;
	}
}

@media (max-width: 770px) {
	.container-page {
		margin-left: 10px;
	}

	.button-card .card {
		height: 160px;
	}

	.button-card {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.button-card .card {
		height: 175px;
	}

	.button-card {
		width: 100%;
	}
}
