.footer {
    width: 100%;
    height: 280px;
    background-color: white;
    margin-top: 50px;
}

.footer #content {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer #content .start {
    width: 350px;
}

.footer #content .start img {
    height: 80px;
}

.footer #content .start h2 {
    font-size: 18px;
    margin: 5px 0;
    width: fit-content;
}

.footer #content .start h3 {
    font-size: 14px;
    width: fit-content;
    font-weight: normal;
    margin: 5px 0;
    color: #000000a0;
}

.footer #content .start h2:nth-of-type(1) {
    margin-top: 15px;
}

.footer #content .start h3:nth-of-type(1) {
    margin-top: 10px;
}

.footer #content .mid {
    width: 730px;
}

.footer #content .mid div {
    width: fit-content;
    margin: 0 auto;
}

.footer #content .mid div h2 {
    font-size: 18px;
    margin: 5px 0 10px 0;
    width: fit-content;
}

.footer #content .mid div .menu {
    display: flex;
    align-items: center;
}

.footer #content .mid div .menu .scol {
    margin-left: 70px;
}

.footer #content .mid div .menu .lcol {
    margin-left: 80px;
}

.footer #content .mid div .menu div {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.footer #content .mid div .menu a {
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    color: #000000a0;
    font-weight: normal;
    padding: 8px 10px;
    margin-left: -10px;
}

.footer #content .mid div .menu a:hover {
    background-color: #e3e3e354;
    border-radius: 25px;
}

.footer #content .end {
    width: 220px;
    cursor: pointer;
}

.footer #content .end h2 {
    font-size: 18px;
    margin: 5px 0 10px 0;
    width: fit-content;
}

.footer #content .end a {
    max-width: 220px;
    width: fit-content;
    display: flex;
    padding: 8px 12px 8px 10px;
    margin-left: -10px;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    color: #000000a0;
    font-weight: normal;
    cursor: pointer;
}

.footer #content .end a:hover {
    background-color: #e3e3e354;
    border-radius: 25px;
}

.footer #content .end img {
    width: 20px;
    margin-right: 10px;
}

#origin {
    font-size: 14px;
    text-align: center;
    color: #00000054;
    margin: 25px;
}

@media (max-width: 1359px) {
    .footer #content {
        width: fit-content;
    }

    .footer #content .mid {
        width: fit-content;
        margin: 0 50px;
    }
}

@media (max-width: 1300px) {
    .footer #content {
        width: 100%;
        max-width: 90%;
        justify-content: space-between;
    }

    .footer #content .mid {
        display: none;
    }

    .footer #content .end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer #content .end a {
        margin-right: -12px;
    }
}

@media (max-width: 1000px) {
    .footer {
        display: block;
    }

    .footer #content {
        width: fit-content;
    }

    .footer #content .start {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer #content .start img {
        margin-bottom: 10px;
        margin-left: 24px;
    }

    .footer #content .end {
        display: none;
    }
}

@media (max-width: 680px) {
    .footer #content .start img {
        height: 70px;
        margin-left: 18px;
    }

    .footer #content .start h2 {
        font-size: 0.9em;
        margin: 0;
    }

    .footer #content .start h3 {
        font-size: 0.8em;
        margin: 1px 0;
    }

    #origin {
        display: none;
    }
}